body{
    background-image: url(../images/bgimg.jpg);
    text-align: center;
}
#container{
    width:960px;
    height:960px;
    background-color: #fef392;
    margin:10px;
    margin-left: 250px;
}
header{
    font-size: 50px;
    font-weight: bold;
    color: blue;
    text-align: center;
    margin:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 50px;
}
#start,#done{
    font-size: 50px;
    color:black;
    background-color: #ffccd1;
    text-align: center;
    margin:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
    width:400px;
    border:solid;
    border-color: blue;
    margin-left: 260px;
    margin-top: 100px;
    cursor: pointer;
}
#done{
    margin-top:20px;
}
#content2,#content3{
    font-size: 25px;
}
.question{
    margin:30px;
}
.options{
    font-size: 15px;
}